.project-report {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-item {
  padding: 15px;
  background-color: #084F01;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-item:hover {
  background-color: #072c01;
}
